{{template "base" .}}
{{define "title"}}Group {{.Group.Name}}{{end}}
{{define "body"}}
   

  <div class="group_wrapper">
        <button class="title-group-button">{{.Group.Name}}</button>
        <p>
            {{if .Contacts}}
        <table class="table table-striped">
            {{range .Contacts}}
              <tr>
              <tbody>
              <td>{{.ID}}</td> 
              <td scope="row"><a style="color: dodgerblue;" href="/contact/{{.ID}}" title="{{.Name}}, -click Contact to view">{{.Name}}</a></td>
              <td>{{.Mobile}}</td>
              <td></td>
              <td><a class="btn btn-warning" href="/contact/del/usergroup/{{.ID}}" title="Remove Contact from Group"><i class="far fa-window-close"></i></a></td>
              </tr>
            {{end}}
          </tbody>
          {{end}}
        </table>
     <p class="group-action">
        <a class="btn btn-danger" href="/contact/del/group/{{.Group.ID}}"><i class="fas fa-trash"> Delete Group</i> </a>
        <button class="btn btn-info" onclick="document.getElementById('msgModel').style.display='block'"><i class="fas fa-sms"> Send Message</i></button>
      </p>
      <div id="msgModel" class="modal">
  
        <form class="modal-content animate" action="" method="post">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
          <div class="closeContainer">
          <span onclick="document.getElementById('msgModel').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>
        
          <div class="container">
          <div class="form-group mx-sm-6 mb-2">
          To group: <input class="form-control" type="text" value="{{.Group.Name}}" readonly>
        </div>
          <label>Message:</label>
          <textarea name="msgBody" required style="height: 150px"> </textarea>
          
          <button class="btnsms" type="submit">Send Message</button>
            </div>
        </form>
        </div>
        </p>
      </div>
{{end}}
