{{template "base" .}}
{{define "title"}}Verification {{end}}
{{define "body"}}
<div class="form-login">
<form class="text-center border border-light p-5" action='/user/verification' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
{{with .Form}}
    
    <p class="h4">Verify your account</p><br>
    {{with .Errors.Get "activation"}}
    <label class='error'>*{{.}}</label>
    {{end}}
    <input type="text" name="activation" class="form-control" minlength="5" placeholder="Activation code" value='{{.Get "activation"}}'>
    <br>
    <input class="btn btn-info btn-block my-4" type="submit" value="Verify">
{{end}}
</form>
</div>
{{end}}
